#root, body, html{
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.grid-wrapper {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    top: 5px;
    height: 95vh;
  }

  .grid-wrapper > :first-child{
    margin-top: 80px;
  }
  

  .hideOverFlow{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
  }

  .swal2-shown div.swal2-container{
    z-index: 1360;
  }

  .ag-theme-alpine {
    --ag-font-size: 16px;
    --ag-font-family: Arial;
    font-weight: 600;
  }

  .ag-theme-alpine .ag-cell{
    padding: 0;
  }